<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <textarea>Please wait, we are authorizing you.
                          Vă rugăm să așteptați, vă autorizăm.
                </textarea>
            </Authorizing>

        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.
                                Ne pare rău, nu există nimic la această adresă.
                </p>
            </LayoutView>
        </CascadingAuthenticationState>        
    </NotFound>
</Router>
